<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="hero center">
					<h1>Wedding</h1>
					<p>
						October 3<sup>rd</sup>, 2015 3:00pm
					</p>
					<p>
						<strong>St Ann's Church</strong><br/>
						704 Jefferson Street<br/>
						Hoboken, NJ<br/>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("st_anns.jpg") %>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("w_hoboken.jpg") %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="hero center">
					<h1>Reception</h1>
					<p>
						October 3<sup>rd</sup>, 2015 6:00pm
					</p>
					<p>
						<strong>W Hoboken</strong><br/>
						225 River St<br/>
						Hoboken, NJ 07030<br/>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="hero center">
					<h1>Directions</h1>
					<p>
						<strong><a href="https://www.google.com/maps/place/St.+Ann+Church/@40.746265,-74.036345,17z/data=!3m1!4b1!4m2!3m1!1s0x89c25766cb28c6c1:0xcc073a328454fa1f" target="_blank">St. Ann Church</a></strong><br/>
						704 Jefferson Street<br/>
						Hoboken, NJ<br/>
					</p>

					<p>
						<strong><a href="https://www.google.com/maps/place/W+Hoboken/@40.739152,-74.027735,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259e04ca2b7eb:0x19c51e852fe0a4be" target="_blank">W Hoboken</a></strong><br/>
						225 River St<br/>
						Hoboken, NJ 07030<br/>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="information-image">
					<iframe class="map-frame" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?origin=St.%20Ann%20Church%2C%20704%20Jefferson%20Street%2C%20Hoboken%2C%20NJ%2007030&destination=W%20Hoboken%2C%20River%20Street%2C%20Hoboken%2C%20NJ%2C%20United%20States&key=AIzaSyBzVYjWhEme8L2Lzlrk4367oa6Jx4MC1YQ"></iframe>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("dani_brett_hr8.jpg") %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="hero center">
					<h1>Hotels and Accommodations</h1>
					<p class="smaller-print">
						Be sure to book your reservation before September 2 to secure the group rate.
					</p>
					<p>
						<a href="https://www.starwoodmeeting.com/events/start.action?id=1412086474&key=1C1995B8">The W Hotel Hoboken</a><br/>
						225 River Road<br/>
						Urdaneta and Lipschultz Wedding Block<br/>
						<br/>
						<br/>
						<a href="https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1503235989&key=367EB891">Sheraton Lincoln Harbor Hotel</a><br/>
						500 Harbor Boulevard, Weehawken, NJ 07086<br/>
						Urdaneta and Lipschultz Wedding Block
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

