<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="hero center">
					<h1>When?</h1>
					<p>October 3<sup>rd</sup>, 2015 3:00pm</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("dani_brett_hr6.jpg") %>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-offset-1 col-md-5">
				<div class="information-image">
					<iframe
						class="map-frame"
						width="100%"
						height="auto"
						frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?q=St%20Ann's%20Church%20704%20Jefferson%20Street%20Hoboken%2C%20NJ&key=AIzaSyBzVYjWhEme8L2Lzlrk4367oa6Jx4MC1YQ">
					</iframe>
				</div>
			</div>

			<div class="col-md-6">
				<div class="hero center">
					<h1>Where?</h1>
					<p>
					St Ann's Church<br/>
					704 Jefferson Street<br/>
					Hoboken, NJ<br/>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="hero center">
					<h1>Reception</h1>
					<p>
						St Ann's Church<br/>
						704 Jefferson Street<br/>
						Hoboken, NJ<br/>
					</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("dani_brett_hr7.jpg") %>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("dani_brett_hr7.jpg") %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="hero center">
					<h1>Hotels and Accommodations</h1>
					<p class="smaller-print">
						Be sure to book your reservation before September 2 to secure the group rate.
					</p>
					<p>
						<a href="https://www.starwoodmeeting.com/events/start.action?id=1412086474&key=1C1995B8">The W Hotel Hoboken</a><br/>
						225 River Road<br/>
						Urdaneta and Lipschultz Wedding Block<br/>
						<br/>
						<br/>
						<a href="https://www.starwoodmeeting.com/StarGroupsWeb/res?id=1503235989&key=367EB891">Sheraton Lincoln Harbor Hotel</a><br/>
						500 Harbor Boulevard, Weehawken, NJ 07086<br/>
						Urdaneta and Lipschultz Wedding Block
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

