<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="hero center">
					<h1>When?</h1>
					<p>October 3<sup>rd</sup>, 2015</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("dani_brett_hr6.jpg") %>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-offset-1 col-md-5">
				<div class="information-image">
					<iframe
						class="map-frame"
						width="100%"
						height="auto"
						frameborder="0" style="border:0"
						src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBzVYjWhEme8L2Lzlrk4367oa6Jx4MC1YQ&q=Central+Park+The+Great+Lawn,+New+York,+NY+10029">
					</iframe>
				</div>
			</div>

			<div class="col-md-6">
				<div class="hero center">
					<h1>Where?</h1>
					<p>Location Goes Here</p>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="information-container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-6">
				<div class="hero center">
					<h1>Lodging?</h1>
					<p>This is some information about lodging &amp; hotels reservations.</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="information-image">
					<%= image_tag("dani_brett_hr7.jpg") %>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

