
<div class="hero-container">
	<section class="hero center">
		<h1>Dani &amp; Brett</h1>

		<div class="center">
			<p>October 3<sup>rd</sup> 2015</p>
		</div>
	</section>
	<div class="clearfix"></div>
	<div class="theres-more animated infinite bounce">
		<span class="fa fa-chevron-down"/>
	</div>
</div>

<div class="col-lg-12 wedding-information">
	<div class="row">
		<div class="col-md-6">
			<div id="wedding-info-carousel" class="image-carousel owl-carousel">
			  	<div>
			  		<%= image_tag("dani_brett2.jpg") %>
			  	</div>
			  	<div>
			  		<%= image_tag("danibrett_central_park3.jpg") %>
			  	</div>
			  	<div>
			  		<%= image_tag("dani_brett4.jpg") %>
			  	</div>
			  	<div>
			  		<%= image_tag("central_park2.jpg") %>
			  	</div>
			</div>
		</div>
		<div class="divider-left col-md-6 center">
			<div class="join-us col-md-offset-2 col-md-8">
				<h2>About Us</h2>
				<p >
					Dani and Brett met at Maxwell's bar in Hoboken, NJ during the summer of 2012. Brett walked Dani home that night. Every few months that summer they would run into each other at mutual friends birthday parties and started to find interest in each other. It wasn't until hurricane Sandy that these two came together and Brett conquested Dani with his mad cooking and survival skills.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<div class="engagement-information">
	<div class="col-lg-12">
		<div class="row">
			<div class="text-panel">
				<h2>Engagement Story</h2>
				<p >
					Two summers later, on a Sunday afternoon, Brett and Dani took a walk together on the beach.  It was there on the beach where Brett asked Dani if he would marry her. Obviously, she said yes.
				</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="clearfix"></div>