<div class="photo-thumbnail">
  <figure>
      <a class="thumbnail-link" href="<%= image_path(image) %>" data-size="<%= size %>">
					<%= image_tag("thumb." + image) %>
      </a>
			<figcaption itemprop="caption description"><%= caption %></figcaption>
  </figure>
</div>
