@charset 'utf-8'
@import 'components/colors'

body
	width: 100%
	min-height: 100%
	background-color: $background-color
	background: url(engagement2.jpg)
	background-size: cover
	background-repeat: no-repeat

.page-body
	max-width: 1600px

.hero
	position: absolute
	right: 4em
	top: 5em
	padding: 4em
	border-radius: 0.2em
	opacity: .8